<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="fast-food-outline"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="favourites">
      <ion-icon name="happy"></ion-icon>
      Favoritas
    </ion-tab-button>
    <ion-tab-button tab="create-recipe">
      <ion-icon name="create-outline"></ion-icon>
      Crear recetas
    </ion-tab-button>
    <ion-tab-button tab="recipes-ingridients">
      <ion-icon name="fish-outline"></ion-icon>
      Filtrar
    </ion-tab-button>
    <ion-tab-button tab="create-ing">
      <ion-icon name="pizza-outline"></ion-icon>
      Nuevo ingrediente
    </ion-tab-button>
    <ion-tab-button tab="user-account">
      <ion-icon name="person-circle-outline"></ion-icon>
      Cuenta usuario
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>