<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>search</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-grid class="werty">
  <!-- Encabezado con días de la semana -->
  <ion-row class="header-col">
    <ion-col class="header" *ngFor="let day of ['Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes']">
      <ion-label>{{ day }}</ion-label>
    </ion-col>
  </ion-row>

  <!-- Contenido del calendario -->
  <ion-row *ngFor="let week of weeks">
    <ion-col class="header" *ngFor="let day of week">
      <ion-label>{{ day | date: 'dd/MM' }}</ion-label>
    <ion-col *ngFor="let timeOfDay of ['Desayuno', 'Comida', 'Cena']">
      <ion-label>{{timeOfDay}}</ion-label>
   
      <ion-item>
        <ion-select placeholder="Selecciona">
          <ion-select-option value="opcion1">Opción 1</ion-select-option>
          <ion-select-option value="opcion2">Opción 2</ion-select-option>
          <ion-select-option value="opcion3">Opción 3</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
