.calendar {
    border: 1px solid #ccc;
    border-collapse: collapse;
    width: 100%;
  }
  
  .header-row {
    background-color: #f2f2f2;
  }
  
  .wert {
    border: 1px solid red;
    text-align: center;
    padding: 8px;
  }
  .header-col,
  .calendar-col,.header-row {
    border: 1px solid blue;
    text-align: center;
    padding: 8px;
  }
  
  ion-row {
    border: 1px solid blue;
    text-align: center;
    padding: 8px;
  }
  .header {
    border: 1px solid blue;
    text-align: center;
    padding: 8px;  
  }
  .calendar-item {
    border: 1px solid #ccc;
    margin: 0;
    padding: 0;
  }
  
  .calendar-select {
    width: 100%;
  }
  
  ion-grid {
    width: 100%;
    border: 1px solid #000000; // Corrección aquí
  }
  
  ion-content {
    height: 100%;
  }
  
  .calendar {
    border: 1px solid #ccc;
    border-collapse: collapse;
    width: 100%;
    overflow-x: auto; /* Agregado para habilitar el desplazamiento horizontal */
  }