
.selectLabel {
    margin-bottom: 20px;
}
ion-label {
    font-size: 0.9rem;
    font-weight: bold;
    h4 {
        font-weight: bold !important;
        font-size: 1.2rem;
    }
    p {
        font-size: 0.7rem;
    }
}

ion-item {
    margin: 0.2rem;
}
.error-item {
    width: 100%;
    font-size: 12px;
    margin-top: 0px;
  }